@import '../variables';
$search-box-height:              35px    !default;
$dropdown-indent:                8px     !default;
$dropdown-border-radius:         20px    !default;
$dropdown-search-box-height:     35px    !default;
$dropdown-width:                 160px   !default;
$top-indent:                     72px    !default;
$dropdown-box-padding:           10px    !default;
$dropdown-color-base:            #000000 !default;
$dropdown-color-dark:            #ffffff !default;

@mixin borderBottomRadius {
  border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
}

@mixin transition($rotate) {
  transition: 0.3s;
  transform: rotate($rotate);
}

@mixin icon {
  position: absolute;
  right: 9px;
}

@mixin strokeDark($opacity) {
  stroke: rgba(255, 255, 255, $opacity);
}

@mixin strokeBase($opacity) {
  stroke: rgba(0, 0, 0, $opacity);
}

@mixin searchBorderColorDark($opacity) {
  border-bottom: 1px dashed rgba(255, 255, 255, $opacity);
}

@mixin searchBorderColorBase($opacity) {
  border-bottom: 1px dashed rgba(0, 0, 0, $opacity);
}

.wrapper {
  width: $dropdown-width;
  height: 400px;
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  color: $dropdown-color-base;
  width: 100%;
  padding: 0;

  .toggler {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    border-bottom: 0;
    margin: auto;
    position: relative;
    padding: 0 $dropdown-box-padding;
    &:hover {
      border-radius: 8px;
    }
    svg {
      path {
        stroke: $dropdown-color-base;
      }
    }
  }
  .dropdownItem {
    border-bottom: 0;
    clear: both;
    color: $dropdown-color-base;
    white-space: nowrap;
    background: transparent;
    cursor: pointer;
    display: flex;
    padding: $dropdown-box-padding;

    span {
      width: 100%;
      text-align: center;
    }

    &:hover {
      background: $selected-light;
      padding: $dropdown-box-padding;
    }
  }

  .dropdown {
    background: $background-light;
    color: $dropdown-color-base;
    width: 100%;
    z-index: 10;

    * {
      font-size: 16px;
    }

    &_active {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 4px);
      width: 100%;
      overflow: hidden;
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 8px;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
    }
  }

  .searchBox {
    display: flex;
    position: relative;
    background: $background-light;
    height: $dropdown-search-box-height;
    border: 0;
    padding: 0 $dropdown-box-padding;
    border-radius: 0;
    z-index: 10;

    .searchIcon {
      @include icon;
      top: 50%;
      margin-top: -10px;

      path {
        @include strokeBase(0.7);
      }
    }

    .searchInput {
      padding: 3px 28px 3px 0;
      width: 100%;
      outline: 0;
      color: $dropdown-color-base;
      background: transparent;
      border-width: 0 0 1px 0;

      @include searchBorderColorBase(0.7);
    }

    &:focus-within {
      .searchInput {
        @include searchBorderColorBase(1);
      }

      .searchIcon,
      path {
        @include strokeBase(1);
      }
    }
  }

  .withSearch {
    border-top: 0;
  }

  & .dropdownTop {
    top: auto ;
    bottom: 100% ;
    transform: translate(-50%, -5px) ;
    border-top: 0 ;
  }

  .disabled {
    color: rgba(0, 0, 0, .3);
    cursor: default;
  }
}

.selectedTitle {
  z-index: 1;
}

.arrow {
  z-index: 2;
  @include transition(-180deg);
  @include icon;
}

.arrowOpen {
  @include transition(0);
}

.darkTheme {
  .dropdownItem {
    color: $dropdown-color-dark;

    &:hover {
      background: $selected-dark;
    }
  }

  .disabled {
    color: rgba(255, 255, 255, .3);
  }

  .dropdown {
    background: $background-dark;
    color: $dropdown-color-dark;
  }

  .searchBox {
    background: $background-dark;

    .searchIcon {
      path {
        @include strokeDark(0.7);
      }
    }

    .searchInput {
      background: transparent;

      @include searchBorderColorDark(0.7);
    }

    &:focus-within {
      .searchInput {
        @include searchBorderColorDark(1);
      }

      .searchIcon,
      path {
        @include strokeDark(1);
      }
    }
  }
}

.optionsBox {
  min-height: 10px;
}

.listDirectionTop {
  .arrow {
    margin-left: 10px;
    margin-top: -5px;
    top: 50%;

    @include transition(0);
  }

  .arrowOpen {
    @include transition(-180deg);
  }

  .toggler {
    @include borderBottomRadius;
    &::before {
      border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
    }
  }
}
